*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* classes auxiliares*/
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}
.clear{
  clear: both;
}
.w40{
  width:40%;
  float: left;
}
.w50{
  display: inline-block;
  width:50%;
  float: left;
}
.w60{
  width:60%;
  float: left;
}
.center{text-align: center;
display: inline-block;
}
.w33{
  width: 33.3%;
  float: left;
}
/*design meu site */
header{
  padding: 8px 0;
}
.logo{
  float: left;
}
.logo h2{
  font-weight: normal;
  font-size: 23px;
}
.logo a{
  color: black;
  text-decoration: none;
}
nav.menu-mobile{
  display: none;
  float: right;
}
nav.menu-mobile h2{
  cursor: pointer;
}
nav.menu-mobile ul{
  display: none;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 999;
  text-align: center;
}
nav.menu-mobile li{
  padding: 8px 0;
  border-bottom: 1px solid black;
}
nav.menu-mobile li.selected{
  background: rgb(225,225,225);
}
nav.menu-mobile a{
  display: block;
  color: black;
  text-decoration: none; 
}
nav.menu-desktop li.selected{font-weight: bold;}
nav.menu-desktop{
  float: right;
}
nav.menu-desktop li{
  display: inline-block;

}
nav.menu-desktop ul{
  position: relative;
  top: 8px;
}
nav.menu-desktop li{
  padding: 0 10px;
  font-weight: lighter;
  display: inline-block;
}
nav.menu-desktop a{
  color: black;
  text-decoration: none;
}
nav.menu-desktop a:hover{text-decoration: underline;}
/*section main*/
section.main-bg{
  position: relative;
  width:100%;
  height: 250px;
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 3%;
}
section.main-bg > .container{
  position: relative;
  z-index: 2;
}
.overlay{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
}
section.main-bg h2{
  padding-top: 3%;
  color: #52aaa7;
  font-size: 40px;
  font-weight: normal;
}
section.main-bg p{
  text-align: left;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  margin-top: 15px;
}
section.diferenciais{
  padding: 30px 0;
  text-align: center;
}
.line-text{
  position: relative;
  display: inline-block;
  color: #52aaa7;
}
.line-text div{
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 3px;
  background: #52aaa7;
}
.line-text h2{
  color: #52aaa7;
  font-weight: normal;
  font-size: 27px;
}
.icones-diferenciais{
  margin-top: 30px;

}
.box-icone-single{
  float: left;
  width:33.3%;
  margin-bottom: 20px;
  padding: 0 10px;
}
.box-icone-single h2{

  color: #8a6b62;
  font-size: 40px;
}
.box-icone-single p{
  color: #646464;
  font-weight: lighter;
  font-size: 16px;
}
section.sobre-equipe{
  padding: 30px 0;
  background:rgb(225,225,225);
}
section.sobre-equipe > .container{
  display: flex;
  flex-wrap: nowrap;
}
.equipe-container{
  width:50%;
  margin-right: 10px;
}
.sobre-container{
  width:50%;
}
.sobre-container p{
  color: black;
  font-size: 15px;
  margin-top: 15px;
}
.avatar-box{
  margin-top: 15px;
}
.img-avatar{
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: 100% 100%;
  background-image: url('avatar.jpeg')
}
.desc-avatar{
  width: calc(100% - 70px);
  display: inline-block;
}
.desc-avatar h3{
  color: rgb(30,30,30);
  font-weight: normal;
  font-style: italic;
}
.desc-avatar p{
  color: rgb(30,30,30);
  font-weight:lighter;
}
section.inscricao{
  background:#52aaa7;
  padding: 15px 0;
}
h2.inscricao-texto{
  font-weight: normal;
  color: white;
}
.inscricao-form input[type=text]{
  width: 320px;
  height: 40px;
  background:white;
  border: 1px solid #ccc;
  display:inline-block;
}
.inscricao-form input[type=submit]{
  width:120px;
  height: 40px;
  background:#1d6c64;
  cursor:pointer;
  display:inline-block;
  border:0;
  color: white;
  font-weight: normal;
  font-size: 12px;
}

section.cards{
  padding: 30px 0;
}
.card-single{
  width:33.3%;
  float: left;

}
.card-single img{
  width: 100%;
  height: 200px;
  padding: 25px;
}
.card-single h3{
  margin-top: 5px;
  font-weight: normal;
  font-size: 19px;
}
.card-single p{
  font-weight: lighter;
  font-size: 16px;
  padding: 5px;
  border-bottom: 2px solid #ccc;
}
footer.footer1{
  background: #52aaa7;
  padding: 20px 0;
  color: white;
}
footer.footer1 h2{
  font-weight: normal;
  font-size: 23px;
}
footer.footer1 p{
  margin-top: 8px;
  font-weight: lighter;
}
footer.footer1 a{
  display:block;
  color: white;
}
div.group-icons a{
  font-size: 18px;
  display: inline-block;
  margin:15px 10px;
}
footer.footer2{
  padding: 10px 0;
  background: #237a70;
  text-align: center;
  color: white;
}
/*Pagina sobre.html*/
section.title-page{
  padding: 30px;
  width:100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.title-page h2{
  color: #44D4C5;
  font-size: 35px;
  font-weight: normal;
  margin-top: 15px;
}
section.title-page p{
  font-weight: lighter;
  font-size: 16px;
  color: white;
}
section.title-page > .container{position: relative;z-index: 101;}
.overlay__title-page{
  position: absolute;
  left: 0;
  top:40px;
  z-index: 100;
  width:100%;
  height: 23%;
  background: rgba(0,0,0,0.4);
}
/* Sobre container da noticia*/
section.sobre__noticia{
  padding: 30px 0;
}
.sobre__single_noticia img{
  max-width: 100%;
  float: left;
  width:50%;
}
.sobre__single_noticia p{
  font-size: 16px;
  font-weight: lighter;
  padding: 5px 10px;
  float: left;
  line-height: 30px;
  width:50%;
  margin-bottom: 20px;
}
/*Efeito paralax na pag sobre*/
section.paralax{
  padding: 30px 0;
  width: 100%;
  min-height: 200px;
  background-image: url(paisagens.jpg); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
section.paralax h2.chamada-paralax{
  border: 1px solid #44d4c5;
  padding: 3px 25px;
  color: #44D4C5;
  font-size: 18px;
  display: inline-block;
}
section.paralax p{
  margin-top: 10px;
  color: white;
}
section.equipe{
  padding: 40px 0;
}
.equipe-circles{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.equipe-circles-single{
  text-align: center;
  padding:0 20px;
  width: 33.3%;
}
.equipe-circle-single h3{
  font-weight: normal;
  margin-top: 8px;
}
.equipe-circle-single p{
  font-weight: lighter;
}
.avatar-single{
  position: relative;
  width: 60%;
  padding-top: 60%;
   margin: 0 auto;
}
.avatar-single-container{
  width:100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #ccc;
  background-size: 100% 100%;
}
section.sobre__final{
  background-color: rgb(225,225,225);
  border-top: 2px solid rgb(210,210,210);
  padding: 20px 0;
}
section.sobre__final p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}
.card-text{
  margin-top: 10px;
  width:80%;
  position: relative;
}
.card-text img{
  margin-top: 10px;
  max-width: 100%;
}
.card-text h3{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
section.contato{
  min-height: 600px;
  padding: 30px 0;
}
section.contato .w50,section.contato .w100{
  padding-right: 0 10px;
}
.formulario form{
  margin-top: 10px;
}
.formulario h2{
  background: #dddddd;
  text-align: center;
  color: #acac9d;
  font-size: 19px;
  font-weight: normal;
  border-left: 5px solid #cccccc;
  padding: 4px 0px;
}
.formulario input[type=text],.formulario input[type=E-mail]{
  width:100%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
  margin-bottom: 5px;
}
.formulario textarea{
   width:100%;
  height:120px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 8px;
  resize: vertical;
}
.w33 input[type=submit]{
  margin-left: 480px;
  width: 70px;
  height: 30px;
  background: #249b8f;
  font-weight: normal;
  color: white;
}
.tags-form{
  padding-left: 50px;
}
.tags-form h2{
  font-weight: normal;
}
.tags-form p{
  font-weight: lighter;
}
.tags-form p.tag-contato{
  color: white;
  background: #249b8f;
  text-align: center;
  margin-top: 6px;
  padding: 8px 4px;
}
/*responsivo*/
@media screen and (max-width:768px){
  .img-avatar{width:100%;}
  section.main-bg{
    height: 400px;
  }
  .w33 input[type=submit]{
    margin-left: 2px;
  width: 100%;
}
  .tags-form{
  padding-left: 0px;
}
  .formulario input[type=text],.formulario input[type=E-mail]{
  margin-bottom: 0px;
}
.formulario textarea{
  margin-bottom: 0px;
}
  footer.footer1{
    text-align: center;
  }
  .card-single{
    width: 100%;
  }
  .w33{
    width:100%;
    margin-bottom: 20px;
  }
  .w50,.w60,.w40,.w100{
    width:100%;
    margin-bottom: 20px;
  }
  .box-icone-single{
    width:100%;
  }
  .equipe-container{
  width:100%;
  margin-right: 100%;
  }
  .sobre-container{
  width:100%;
  margin-top: 60px;
  }
  .sobre__single_noticia img{
  width:100%;
}
.sobre__single_noticia p{
  width:50%;
  }
}
@media screen and (max-width: 500px){
  .w33 input[type=submit]{
    margin-left: 2px;
  width: 100%;
}
  .tags-form{
  padding-left: 0px;
}
  .formulario input[type=text],.formulario input[type=E-mail]{
  margin-bottom: 0px;
}
.formulario textarea{
  margin-bottom: 0px;
}
  .card-text{
  width:100%;
}
  nav.menu-desktop{
    display: none;
  }
  nav.menu-mobile{
    display: block;
  }
  .card-single{
    padding: 10px;
  }
  .equipe-circles-single{
  width: 100%;
  margin-bottom: 15px;
  }
}